.idea
Thumbs.db
.DS_Store
node_modules/
mix-manifest.json
hot
mix.js.map
vendor/**/LICENSE
vendor/**/CHANGELOG.md
vendor/**/phpunit.xml.dist
vendor/**/README.md
vendor/**/readme.md
vendor/**/.gitignore
vendor/**/Tests
vendor/**/tests
vendor/**/Test
vendor/**/test
vendor/**/Testing
vendor/**/build-phar.sh
vendor/**/psalm.xml
vendor/**/.travis.yml
vendor/**/Makefile
vendor/**/CONTRIBUTING.md
vendor/**/.gitlab-ci.yml
vendor/**/var/
vendor/**/.editorconfig
vendor/**/LICENSE.md
vendor/**/phpmd.xml
vendor/**/.multi-tester.yml
vendor/**/Tester
vendor/**/.github
vendor/**README.md
vendor/**/docs
vendor/**/LICENSE.txt
vendor/**/Dockerfile
vendor/**/CODE_OF_CONDUCT.md
vendor/**/example
vendor/nesbot/carbon/src/Carbon/Lang
!vendor/nesbot/carbon/src/Carbon/Lang/en.php
!vendor/nesbot/carbon/src/Carbon/Lang/zh.php
!vendor/nesbot/carbon/src/Carbon/Lang/zh_Hant.php
!vendor/nesbot/carbon/src/Carbon/Lang/zh_TW.php
html/
npm-debug.log